<!-- 
File: templates/layout.html
Description: the file provides the general layout of HTML pages
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memo Verse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripture-styles.css') }}" type="text/css">
  </head>
  <body class="pb-5">
    <header>
      <nav class="navbar bg-light">
        <div class="container justify-content-center">
          <ul class="navbar-nav list-group-horizontal p-2">
            <li class="navbar-brand text-primary">MemoVerse</li>
            <li class="nav-item">
              <a href="{{ url_for('index') }}" class="btn btn-outline-primary mr-2">Home</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('viewverses') }}" class="btn btn-outline-primary mr-2">View Verses</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('addverse') }}" class="btn btn-outline-primary">Add Verse</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="page-footer fixed-bottom text-center text-secondary bg-light p-2">Designed by Vladimir Meshcheryakov | &copy; 2020</footer>
  </body>
</html>